* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
}

.container {
    width: 1440px;
    margin: 0 auto ;
}


section .container{
    padding: 2rem;
}


section.seccion_projects {
    background-color: aquamarine;
}
section.seccion_projects .container {
    background-color: aqua;
}

section.seccion_about {
    background-color: gold;
}
section.seccion_about .container {
    background-color: goldenrod;
}
