---
import Nav from '../components/Nav.astro';
import Banner from '../components/Banner.astro';

---

<header>

    <div class="container mx-auto">

        <Banner />

        <!-- <Nav /> -->

    </div>

</header>