---

---

<section class="section-odd">
    <div class="container mx-auto title">
        <h1 class="px-4"> Conocimiento y Habilidades </h1>
    </div>
    <div class="container mx-auto px-4 body">
        <ul>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id non reiciendis reprehenderit, a ad quibusdam laborum inventore fugit molestias ea numquam distinctio dolorem eaque deserunt autem soluta eius amet vero?</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi odio a impedit repellat necessitatibus alias cum neque, provident explicabo, voluptates ipsum amet expedita fugit magni voluptate. Quisquam neque ab minima!</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, reprehenderit!</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit.</li>
        </ul>
    </div>
</section>