---

---

<section class="section-even">
    <div class="container mx-auto title">
        <h1 class="px-4"> Experiencia </h1>
    </div>


</section>    
<div class="container mx-auto flex flex-col md:flex-row space-evenly py-2 body">
    <div class="flex-auto">  
        <div class="flex flex-col space-evenly">
            <h3 class="text-center py-2"> Listado1 </h3>
            <p class="text-center">Hola</p>
            <p class="text-center">Hola</p>
            <p class="text-center">Hola</p>
            <p class="text-center">Hola</p>
        </div>
    </div>
    <div class="flex-auto">  
        <div class="flex flex-col space-evenly">
            <h3 class="text-center py-2"> Listado2 </h3>
            <p class="text-center">Hola</p>
            <p class="text-center">Hola</p>
            <p class="text-center">Hola</p>
            <p class="text-center">Hola</p>
            <p class="text-center">Hola</p>
        </div>
    </div>
    <div class="flex-auto">  
        <div class="flex flex-col space-evenly">
            <h3 class="text-center py-2"> Listado3 </h3>
            <p class="text-center">Hola</p>
            <p class="text-center">Hola</p>
            <p class="text-center">Hola</p>
            <p class="text-center">Hola</p>
        </div>
    </div>
</div>
